@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin user-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}

@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-flex;
}

@mixin font-bold($type) {
  font-family: "TradeGothicLTPro Bold";
  @if $type == 'italic' {
    font-style: italic;
  } @else {
    font-style: normal;
  }
  font-weight: bold;
}

@mixin font-normal($type) {
  font-family: "TradeGothicLTPro Normal";
  @if $type == 'italic' {
    font-style: italic;
  } @else {
    font-style: normal;
  }
  font-weight: normal;
}